---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Works with your favorite banks</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="size-8 md:size-12" name="mdi:bank" />
    <Icon class="size-8 md:size-12" name="mdi:credit-card" />
    <Icon class="size-8 md:size-12" name="mdi:currency-usd" />
    <Icon class="size-8 md:size-12" name="mdi:shield-check" />
    <Icon class="size-8 md:size-12" name="mdi:bank-transfer" />
    <Icon class="size-8 md:size-12" name="mdi:security" />
  </div>
  <p class="text-center text-slate-500 mt-8 text-sm">
    Securely connect your bank through Plaid™
  </p>
</div>
